.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__title {
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $white;
}

.advantages__text {
  margin: 0;
  padding: 0;
  color: $white;
}
