.field-text__label {
  line-height: 26px;
  color: $darkgray;
}

.field-text__value {
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $black;
}

.field-text__radio {
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $black;
}

.field-text__checkbox {
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $black;
}

.field-text__description {
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $black;
}

.field-text__area {
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $black;
}
