.intro__title {
  margin: 0;
  padding: 0;
  font-size: $bold-font-size;
  line-height: 26px;
  font-weight: $bold-weight;
}

.intro__subtitle {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: $darkgray;
}

.intro__text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: $darkgray;
}
