.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: $bold-weight;
  color: $black;
  text-transform: uppercase;
}

.page-footer__title {
  line-height: 26px;
  color: $black;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
}
