.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-list__content {
  margin: 0;
  padding: 0;
}

.photo-list__title {
  margin: 0;
  padding: 0;
  font-weight: $bold-weight;
  line-height: 24px;
}

.photo-list__author {
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: $darkgray;
}
