$black: #000000;
$white: #ffffff;
$darkgray: #444444;
$lightgreyblue: #81b3d2;
$whitethree: #f2f2f2;

$font-stack: "PT sans", "Arial", sans-serif;
$normal-weight: 400;
$bold-weight: 700;
$regular-font-size: 14px;
$bold-font-size: 18px;
$site-list-line-height: 40px;
